<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sys-statusbar-style</key>
	<dict>
		<key>name</key>
		<string>UIStatusBarStyle 样式</string>
		<key>conf-value</key>
		<string>1</string>
	</dict>
	<key>sys-navbar-bar-tint-color</key>
	<dict>
		<key>name</key>
		<string>barTintColor</string>
		<key>conf-value</key>
		<string>#ffffff</string>
	</dict>
	<key>sys-navbar-tint-color</key>
	<dict>
		<key>name</key>
		<string>UINavigationBar tintColor</string>
		<key>conf-value</key>
		<string>#ffffff</string>
	</dict>
	<key>sys-navbar-title-foreground-color</key>
	<dict>
		<key>name</key>
		<string>UINavigationBar title text attributes foreground color</string>
		<key>conf-value</key>
		<string>#000000</string>
	</dict>
</dict>
</plist>
